<div class = "header_contents">
  <p class="header_logo">filebook</p>
  <a href = "/infomations" class = "header_content"><p class = "header_content_css">ホーム画面に戻る</p></a>
  <p class = "nickname">yumanagai Tankyu For Watching MyAplication!!</p>
</div>
<div class = "users_edit">
<%= form_tag%>
  <input type = "text" name = "nickname" placeholder = "ニックネームを入力する">
  <input type = "text" name = "like_entertainer" placeholder = "芸能人の名前">
  <input type = "submit" placeholder = "登録する">
</div>