<div class = "users_edit">
<%= form_tag%>
  <input type = "text" name = "nickname" placeholder = "ニックネームを入力する">
  <input type = "text" name = "like_entertainer" placeholder = "芸能人の名前">
  <input type = "submit" placeholder = "登録する">
</div>