<div class = "header_contents">
  <a class="header_content" href = "users/sign_out" data-method = "delete"><p>ログアウト</p></a>
  <a class="header_content" href = "/infomations/new"><p>検索</p></a>
  <a href = "/infomations" class = "header_content"><p class = "header_content_css">ホーム画面に戻る</p></a>
</div>
<div class="users_new">
  <%= form_tag('/users',method: :post) do %>
    <input type = "text" name = "nickname">
    <input type = "text" name = "like_entertainer">
    <input type = "submit" value = "登録する">
  <% end%>
</div>