<div class="users_new">
  <%= form_tag('/users',method: :post) do %>
    <input type = "text" name = "nickname">
    <input type = "text" name = "like_entertainer">
    <input type = "submit" value = "登録する">
  <% end%>
</div>