<div class="infomation_new">
 <%= form_tag("/infomations",method: :post) do |f|%>
 　<p class = "infomation_new_textarea"><%= text_field_tag :talent_name %></p></br>
 　<p class = "infomation_new_submit"><%= submit_tag '検索'%></p>
 <% end %>
</div>