.comment_answer_show{
    text-align: center;
    background-color: black;
    color: blue;
    }
.comment_answer_show_box{
    overflow: scroll;
    height: 400px;
    }
.comment_answer_main_text{
    margin: 20px 0px 20px 0px;
    display: flex;
  　justify-content: flex-start;
  　align-items: flex-start; 
    }
.comment_answer_user{
    font-weight: bold;
    font-family: 'Ubuntu Mono', monospace;
    margin-right: 25px;
    width: 80px;
    background-color: white;
    border-radius: 20vh; 
    }
.comment_answer_text{
    max-width: 500px; 
    color: black;
    font-weight: bold;
    text-decoration: none;
    flex-wrap: wrap;
    position: relative;
    padding: 17px 13px 15px 18px;
    border-radius: 12px;
    background: red;
    box-sizing: border-box;
    margin:8px 0 0 !important; 
    }
.comment_answer_text:first_child{
    color: black;
    margin-top: 0 !important;
    }
.comment_answer_text:after{
    color: black;
    content: "";
    position: absolute;
    border: 10px solid transparent;
    left: -26px;
    border-right: 22px solid red; 
    }
.answer_index_text{
    margin: 20px 0px 20px 0px;
    display: flex;
  　justify-content: flex-start;
  　align-items: flex-start;
    }
.answer_name{
    font-weight: bold;
    font-family: 'Ubuntu Mono', monospace;
    margin-right: 25px;
    width: 80px;
    background-color: white;
    border-radius: 20vh;
    }
.answer_text{
    max-width: 500px; 
    color: black;
    font-weight: bold;
    text-decoration: none;
    flex-wrap: wrap;
    position: relative;
    padding: 17px 13px 15px 18px;
    border-radius: 12px;
    background: red;
    box-sizing: border-box;
    margin:8px 0 0 !important; 
    }
.answer_text:first_child{
    color: black;
    margin-top: 0 !important;
    }
.answer_text:after{
    color: black;
    content: "";
    position: absolute;
    border: 10px solid transparent;
    left: -26px;
    border-right: 22px solid red;
    }